PORT=8000
MONGODB_URL=mongodb+srv://reshmikhatoon:reshmi123@cluster2.jhzorom.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=17d@9590c194f_73aed5898-Hf0JJ-4aecc*c5a34
ACCESS_TOKEN-EXPIRY=1d
REFRESH_TOKEN_SECRET=XKJW634875879hgdd6VFDFefg%7GFG8DSswed
REFRESH_TOKEN_EXPIRY=10d

